.jumbotron {
    text-align: center;
}

#homeScreen {
    text-align: center;
    width: 25%;
    margin:auto;
}

#homeScreen button {
    text-align: center;
}

#scheduleBuilder {
    text-align: center;
    margin:auto;
}

table {
    text-align: center;
    margin: auto;
}

.custom-checkbox {
    margin-top: 5px;
}

.btn {
    margin-right: 10px;
}