.jumbotron {
    text-align: center;
}

#homeScreen {
    text-align: center;
    width: 25%;
    margin:auto;
}

#homeScreen button {
    text-align: center;
}

#scheduleBuilder {
    text-align: center;
    margin:auto;
}

#scheduleDisplay {
    text-align: center;
    margin:auto;
    width: 50%;
}

table {
    text-align: center;
    margin: auto;
}

.custom-checkbox {
    margin-top: 5px;
}

.btn {
    margin-right: 10px;
}

.schedule-row {
    text-align: left;
}

.form-check{
    margin-top: 5px;
}

.col-form-label {
    text-align: left;
}